/*Global*/
#breadcrumbs {
    margin: 0 0 0 0;
    padding-top: 16px;
}
.btn {
    cursor: pointer;
}
.tableHeadButton {
    float: right;
    margin: 5px 0 0 5px;
    color: #fff!important;
    cursor: pointer;
}
.btn .glyphicon {
    margin-right: 5px;
}
.spanLikeLink {
    color: #2992c8;
    cursor: pointer;
}
.spanLikeLink:hover {
    color: #056495;
}

.panel + .row {
    margin-top: 24px;
}

/* Menu */
/* navigation */
.menu_section {
    border-top: 1px solid rgba(0,0,0,.3);
    webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1);
}
.menu_section a.menu_link {
    line-height:36px;color:#fff;color:rgba(255, 255, 255, 0.6);font-size:13px;display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;position:relative}
.menu_section a.menu_link  span {margin:0 18px 0 12px;font-size:16px;color:#fff}
.menu_section a.menu_link_opened {
    background: #48ac2e !important;
    color: #fff;
}
.menu_section_subtree, .submenu_section {
    display: none;
    background: rgba(255, 255, 255, 0.05);
}
.menu_section_subtree .ztree a {
    color: white;
}
.menu_section:last-child {
border-bottom: 1px solid rgba(0,0,0,.3);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
box-shadow: inset 0 1px 0 rgba(255,255,255,.1),0 1px 0 rgba(255,255,255,.1);
}
.submenu_section a {
    text-indent: 14px;
    line-height: 22px;
    padding: 4px 0 2px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
display: block;
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
position: relative;
}
.submenu_section {
    display: block;
    padding: 0 0 0 10px;
}
.submenu_section span {
border-top: 1px solid rgba(0,0,0,.1);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
display: list-item;
}
.submenu_section span a.active {
color: rgba(255, 255, 255, 0.8);

}
.submenu_section span a.active:after {position:absolute;right:0;top:8px;border:8px solid rgba(255,255,255,0);border-right-color:#fff;content:'';width:0;height:0}

/* Hide tree and text when sidebar is closed */
.sidebar_hidden.side_fixed ul.ztree, .sidebar_hidden.side_fixed .submenu_section { display: none!important; }
.sidebar_hidden.side_fixed_open ul.ztree, .sidebar_hidden.side_fixed_open .submenu_section { display: block!important; }
.sidebar_hidden.side_fixed .menu_link { color: black; }
.sidebar_hidden.side_fixed_open .menu_link { color: rgba(255, 255, 255, 0.6); }
.sidebar_hidden.side_fixed .menu_link.menu_link_opened { color: #48ac2e; }
.sidebar_hidden.side_fixed_open .menu_link.menu_link_opened { color: white; }



/*Form*/
input.error, input.error:focus {
    border-color: #b94a48;
}
span.error {
    color: #b94a48;
    padding-left: 5px;
}

.userGroupsButtons {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border: none;
}
.buttonWithMarginTop {
    margin-top: 20px;
}
.form-horizontal input[type=submit]{
    margin-top: 5px;
    /*margin-left: 170px;*/
}
.form-horizontal input[type="checkbox"] {
    margin-top: 7px;
}


#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: url('/backend/img/Tree on wind.gif') no-repeat center white;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 107;
}


/* --------- Confirm dialog --------- */
#confirmDialogOverlay, #popupTreeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    /*opacity: 0.7;*/
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
}
#popupTreeOverlay {
    z-index: 900;
}

#confirmDialog {
    position: fixed;
    display: block;
    height: auto;
    width: 250px;
    z-index: 1001;
    background: white;
    /*border: 1px solid gray;*/
    padding: 25px 20px 15px 25px;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 2px;
}
#confirmDialog p {
    margin: 0 0 15px;
}
#confirmDialog button {
    margin: 0 6px 0 0;
    min-width: 85px;
}
#continueConfirmDialog {
    float: right;
}
#cancelConfirmDialog {
    float: right;
}