/*Global*/
.btn {
    cursor: pointer;
}
.tableHeadButton {
    float: right;
    margin: 5px 0 0 5px;
    color: #fff!important;
    cursor: pointer;
}
.btn .glyphicon {
    margin-right: 5px;
}
.spanLikeLink {
    color: #2992c8;
    cursor: pointer;
}
.spanLikeLink:hover {
    color: #056495;
}

.panel + .row {
    margin-top: 24px;
}


/*Form*/
input.error, input.error:focus {
    border-color: #b94a48;
}
span.error {
    color: #b94a48;
    padding-left: 5px;
}

.userGroupsButtons {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    border: none;
}
.buttonWithMarginTop {
    margin-top: 20px;
}
.form-horizontal input[type=submit]{
    margin-top: 5px;
    margin-left: 170px;
}
.form-horizontal input[type="checkbox"] {
    margin-top: 7px;
}


#loadingOverlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: url('/backend/img/Tree on wind.gif') no-repeat center white;
    opacity: 0.7;
    width: 100%;
    height: 100%;
    z-index: 1001;
}


/* --------- Confirm dialog --------- */
#confirmDialogOverlay, #popupTreeOverlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.9);
    /*opacity: 0.7;*/
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow: auto;
}
#popupTreeOverlay {
    z-index: 900;
}

#confirmDialog {
    position: fixed;
    display: block;
    height: auto;
    width: 250px;
    z-index: 1001;
    background: white;
    /*border: 1px solid gray;*/
    padding: 25px 20px 15px 25px;
    box-shadow: 0 4px 23px 5px rgba(0, 0, 0, 0.15), 0 2px 6px rgba(0,0,0,0.1);
    border-radius: 2px;
}
#confirmDialog p {
    margin: 0 0 15px;
}
#confirmDialog button {
    margin: 0 6px 0 0;
    min-width: 85px;
}
#continueConfirmDialog {
    float: right;
}
#cancelConfirmDialog {
    float: right;
}